@media (min-width: 700px) 
{ 
    
.spanMasterEdit span{
    width: 200px;
}

input[type=text] {
    width: 200px;
}

.input-group{
    width: 400px !important;    
}

.form-select{
    width:200px;
}

}


@media (max-width: 450px){
    .spanMasterEdit span{
        width:100% !important;
        display: block !important;
    }

    input[type=text]{
        width: 100% !important;
        display: block !important;

    }

    .input-group{
        width:100% !important;
        display: block !important;

    }

    .form-select{
        width: 100% !important; 
        display: block !important;

    }

} 






