.card-img-top- {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-img-top-- {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.card {
    box-shadow: rgb(20 35 85 / 10%) 0px 8px 20px 0px;
}
.card1 {
    box-shadow: rgb(20 35 85 / 10%) 0px 8px 20px 0px;
    display:block
}

@media (max-width:800px)
{
    .row2 
    {
        width: 100%;
        overflow-x: auto; 
    }




    .card1 
    {   
        display: block;
        border: 2px solid red;
        width: 300px;
        
    }
}
