.card-img-top- {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-img-top-- {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card {
  box-shadow: rgb(20 35 85 / 10%) 0px 8px 20px 0px;
}
.card1 {
  box-shadow: rgb(20 35 85 / 10%) 0px 8px 20px 0px;
  display: block;
}

.container__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .row2 {
    width: 100%;
    overflow-x: auto;
  }

  .card1 {
    display: block;
    border: 2px solid red;
    width: 300px;
  }
}

/* The heart of the matter */
.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-4 {
  display: inline-block;
}

/* Decorations */
.col-4 {
  color: #fff;
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 18px;
}
.col-4:nth-child(3n + 1) {
  background: #c69;
}
.col-4:nth-child(3n + 2) {
  background: #9c6;
}
.col-4:nth-child(3n + 3) {
  background: #69c;
}
