@media (min-width: 700px) {
    .watch{
        text-align:end;
        margin-top: 8px;
    }

    .offerText{
        color: black; font-size: 20px;
    }

    .carTitle{
        font-size:35px;
    }

    .offerPrice{
        color: red;
        font-size:25px;
    }

    #firstOfferText{
        margin-top:0px;
    }
}

@media (max-width: 450px){
    .watch{
        text-align:start;
        margin-top: 0px;
    }

    #firstOfferText{
        margin-top:5px;
    }

    .offerText{
        color: black; font-size: 17px;
    }

    .carTitle{
        font-size:23px;
    }

    .offerPrice{
        color: red;
        font-size: 20px;
    }
}


