.imgslid
{
    width: 700px;
    height: 700px;
    object-fit:cover;
}

.imgbutton
{
    height: 520px;
}


@media (max-width: 800px)
{
    .imgslid 
    {
        width: 430px;
        height: 430px;
    }

    .imgbutton
    {
        height: 320px;
    }
}